<!doctype html>
<html lang="en">
    <head>
        {{template "head"}}
        <title>bookList</title>
    </head>
    <body>
        {{template "menu"}}
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col" id="bookList">
                    <p>storyes</p>
                    <p>storyes</p>
                    <p>storyes</p>
                    <p>storyes</p>
                    <p>storyes</p>
                </div>
                <div class="col-md-auto border border-dark" id="filter">
                    <p>filter</p>
                </div>
            </div>
        </div>
        {{template "baseJs"}}
    </body>
</html>
